@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  background-color:  dimgrey
}
h2{
  color: mintcream;
  font-family: monospace;
  text-align: left;
  text-decoration: underline;
font-weight: bold;
}
table{
  border: 1px solid black;
  border-collapse: collapse;

}