@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  background-color: black
}
h2{
  color: mintcream;
  font-family: monospace;
  text-align: left;
  text-decoration: underline;
font-weight: bold;
}
table{
  border: 1px solid white;
  border-collapse: collapse;
  color: antiquewhite;
}
ul{
  color: antiquewhite;
  font-family: sans-serif;
}