@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  background-color: black
}
h2{
  color: mintcream;
  font-family: monospace;
  text-align: left;
  text-decoration: underline;
font-weight: bold;
}
table{
  border: 1px solid white;
  border-collapse: collapse;
  color: antiquewhite;
}
ul{
  color: antiquewhite;
  font-family: sans-serif;
}

.threed:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        border-width: 5px;
        border-color: yellow;
}